.lkt-flex-row, .lkt-flex-row--nowrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
}
.lkt-flex-row { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.lkt-flex-row--nowrap { -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }

.lkt-flex-col-1-20,
.lkt-flex-col-2-20,
.lkt-flex-col-3-20,
.lkt-flex-col-4-20,
.lkt-flex-col-5-20,
.lkt-flex-col-6-20,
.lkt-flex-col-7-20,
.lkt-flex-col-8-20,
.lkt-flex-col-9-20,
.lkt-flex-col-10-20,
.lkt-flex-col-11-20,
.lkt-flex-col-12-20,
.lkt-flex-col-13-20,
.lkt-flex-col-14-20,
.lkt-flex-col-15-20,
.lkt-flex-col-16-20,
.lkt-flex-col-17-20,
.lkt-flex-col-18-20,
.lkt-flex-col-19-20,
.lkt-flex-col-20-20 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 1px;
}
.lkt-flex-col-0 { display: none; width: 0; }
.lkt-flex-col-1-20 { width: 5%; }
.lkt-flex-col-2-20 { width: 10%; }
.lkt-flex-col-3-20 { width: 15%; }
.lkt-flex-col-4-20 { width: 20%; }
.lkt-flex-col-5-20 { width: 25%; }
.lkt-flex-col-6-20 { width: 30%; }
.lkt-flex-col-7-20 { width: 35%; }
.lkt-flex-col-8-20 { width: 40%; }
.lkt-flex-col-9-20 { width: 45%; }
.lkt-flex-col-10-20 { width: 50%; }
.lkt-flex-col-11-20 { width: 55%; }
.lkt-flex-col-12-20 { width: 60%; }
.lkt-flex-col-13-20 { width: 65%; }
.lkt-flex-col-14-20 { width: 70%; }
.lkt-flex-col-15-20 { width: 75%; }
.lkt-flex-col-16-20 { width: 80%; }
.lkt-flex-col-17-20 { width: 85%; }
.lkt-flex-col-18-20 { width: 90%; }
.lkt-flex-col-19-20 { width: 95%; }
.lkt-flex-col-20-20 { width: 100%; }