.lkt-flex-row, .lkt-flex-row--nowrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
}
.lkt-flex-row { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.lkt-flex-row--nowrap { -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }

.lkt-flex-col-1-8,
.lkt-flex-col-2-8,
.lkt-flex-col-3-8,
.lkt-flex-col-4-8,
.lkt-flex-col-5-8,
.lkt-flex-col-6-8,
.lkt-flex-col-7-8,
.lkt-flex-col-8-8 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 1px;
}
.lkt-flex-col-0 { display: none; width: 0; }
.lkt-flex-col-1-8 { width: 12.5%; }
.lkt-flex-col-2-8 { width: 25%; }
.lkt-flex-col-3-8 { width: 37.5%; }
.lkt-flex-col-4-8 { width: 50%; }
.lkt-flex-col-5-8 { width: 62.5%; }
.lkt-flex-col-6-8 { width: 75%; }
.lkt-flex-col-7-8 { width: 87.5%; }
.lkt-flex-col-8-8 { width: 100%; }