@media screen and (min-width: 520px) {
    .lkt-flex-row--from-520, .lkt-flex-row--nowrap--from-520 {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        width: 100%;
    }
    .lkt-flex-row--from-520 { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }
    .lkt-flex-row--nowrap--from-520 { -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }

    .lkt-flex-col-1--from-520,
    .lkt-flex-col-2--from-520,
    .lkt-flex-col-3--from-520,
    .lkt-flex-col-4--from-520,
    .lkt-flex-col-5--from-520,
    .lkt-flex-col-6--from-520,
    .lkt-flex-col-7--from-520,
    .lkt-flex-col-8--from-520,
    .lkt-flex-col-9--from-520,
    .lkt-flex-col-10--from-520,
    .lkt-flex-col-11--from-520,
    .lkt-flex-col-12--from-520 {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 1px;
    }

    .lkt-flex-col-0--from-520 { display: none; width: 0; }
    .lkt-flex-col-1--from-520 { width: 8.33333333%; }
    .lkt-flex-col-2--from-520 { width: 16.66666667%; }
    .lkt-flex-col-3--from-520 { width: 25%; }
    .lkt-flex-col-4--from-520 { width: 33.33333333%; }
    .lkt-flex-col-5--from-520 { width: 41.66666667%; }
    .lkt-flex-col-6--from-520 { width: 50%; }
    .lkt-flex-col-7--from-520 { width: 58.33333333%; }
    .lkt-flex-col-8--from-520 { width: 66.66666667%; }
    .lkt-flex-col-9--from-520 { width: 75%; }
    .lkt-flex-col-10--from-520 { width: 83.33333333%; }
    .lkt-flex-col-11--from-520 { width: 91.66666667%; }
    .lkt-flex-col-12--from-520 { width: 100%; }
}